<!-- <button mat-raised-button color="primary">Primary</button> -->
<!-- <button mat-raised-button color="accent">Primary</button>
<button mat-raised-button color="warn">Primary</button> -->

<!-- <app-shop-cards></app-shop-cards>
<app-cart></app-cart> -->
<!-- <app-checkout></app-checkout> -->


<app-header></app-header>
<main>
 <router-outlet></router-outlet>
 <button (click)="checkout()">checkout</button>
</main>
<!-- <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <app-header></app-header>
    </mat-sidenav>

    <mat-sidenav-content>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
    
  </mat-sidenav-container> -->