<div class="card-container">
<ng-container  *ngFor="let product of products">
<mat-card class="example-card">
  <div class="zoom-container">
    <img mat-card-image class="zoom" [src]="getImgUrl(product.name)" [alt]="product.name">
  </div>
    
    <mat-card-content>
      <span>
          <b>{{product.name}}</b>  
          <p class="quantity">{{product.displayQuantity}}</p>      
       </span>
       <span class="price">
        {{ product.price.toString()| currency:"EUR":"symbol"}} 
       </span>
    
    </mat-card-content>
    <mat-card-actions class="centered">
      <button *ngIf="!product.cartQuantity" (click)="changeQuantity(product,1)" mat-raised-button color="primary" class="centered">Add</button>
      
      <ng-container *ngIf="product.cartQuantity">

        <button  mat-mini-fab color="primary" (click)="changeQuantity(product,product.cartQuantity - 1)"> <mat-icon>remove</mat-icon></button>      

        <span [innerHTML]="product.cartQuantity" class="quantity-text"></span>

        <button  mat-mini-fab color="primary" (click)="changeQuantity(product,product.cartQuantity + 1)"> <mat-icon>add</mat-icon></button>

      </ng-container>
        
    </mat-card-actions>
  </mat-card>
</ng-container>
</div>
