<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading" class="card-container">
  <section *ngIf="!products || products.length<=0">
    <div class="my-2 text-secondary  text-center  text-no-items-container">
      <p class="mb-4">Fetching Products Failed. Please Try again after sometime.</p>
      <a mat-stroked-button color="primary" routerLink="/home" routerLinkActive="active">Go To Home</a>
    </div>
  </section>
  <ng-container *ngFor="let product of products">
    <mat-card class="example-card">
      <div class="zoom-container">
        <img mat-card-image class="zoom" [src]="getImgUrl(product.name)" [alt]="product.name">
      </div>

      <mat-card-content>
        <span>
          <b>{{product.name}}</b>
          <p class="quantity">{{product.displayQuantity}}</p>
        </span>
        <span class="price">
          {{ product.price.toString()| currency:"EUR":"symbol"}}
        </span>

      </mat-card-content>
      <mat-card-actions class="centered">
        <button *ngIf="!product.cartQuantity" (click)="changeQuantity(product,1)" mat-raised-button color="primary"
          class="centered">Add</button>

        <ng-container *ngIf="product.cartQuantity">

          <button mat-mini-fab color="primary" (click)="changeQuantity(product,product.cartQuantity - 1)">
            <mat-icon>remove</mat-icon>
          </button>

          <span [innerHTML]="product.cartQuantity" class="quantity-text"></span>

          <button mat-mini-fab color="primary" (click)="changeQuantity(product,product.cartQuantity + 1)">
            <mat-icon>add</mat-icon>
          </button>

        </ng-container>

      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>